.screenBoxes {
  display: flex;
  width: 800px;
  margin: auto;
}

.screenBox {
    text-transform: capitalize;
    flex: 1;
    padding: 5px;   
    text-align: center;
    white-space: nowrap;
    align-items: flex-end;
    margin: .5%;
}

.screenBox img{
    max-width: 100%;
    height: 150px;
    width: auto;
}